extends layout.pug
block header
    title Address #{address}
block content
    script
        include scripts/identicon.js
    .wrapper
        .main-content
            h2.ui.center.aligned.icon.header
                i.globe.icon
                |   Address
            table.ui.celled.striped.table
                thead
                    tr
                        th(colspan='5')
                            .wrapper.aligned(style="padding: 10px 0px")
                                div.identicon(title=address)
                                span(style='margin-left: 1em;') Address: #{address}
                tbody
                    tr
                        td
                            div Balance

                        td
                            div #{balance} ETH
                    tr
                        td
                            div No. Of Transactions

                        td
                            div #{transactionCount} txns



block foot
    .wrapper.bottombar
        .padder

