extends layout.pug
block header
    title Address #{address}
block content
    script
        include scripts/identicon.js
    .wrapper
        .main-content
            table.ui.celled.striped.table
                thead
                    tr
                        th(colspan='5')
                            div(style='display: flex; align-items: center;')
                                div.identicon(title=address)
                                span(style='margin-left: 1em;') Address: #{address}
                tbody
                    tr
                        td
                            div Balance

                        td
                            div #{balance} ETH
                    tr
                        td
                            div No. Of Transactions

                        td
                            div #{transactionCount} txns



block foot
    .wrapper.bottombar
        .padder

