extends layout.pug
block header
    title Block #{block.hash}
block content
    script
        include scripts/identicon.js
    .wrapper
        .main-content
                table.ui.celled.striped.table
                    thead
                        tr
                            th(colspan='5')
                                .wrapper.aligned(style="padding: 10px 0px")
                                    div.identicon(title=block.hash)
                                    div(style="margin-left: 10px") Block: #{block.hash}
                    tbody
                        each val, index in block
                            tr
                                td
                                    p #{index}

                                td(style='max-width: 350px')
                                    p(class="ellipsis") #{val}

block foot
    .wrapper.bottombar
        .padder

