extends layout.pug
block header
    title Address #{coinbase}
block content
    script
        include scripts/index.js
        include scripts/identicon.js
    .wrapper
        .main-content
            .blocks
                table.ui.celled.striped.table
                    thead
                         tr
                            th(colspan='5')
                                p Latest Blocks
                    tbody
                        each val in blocks
                            tr
                                td.collapsing
                                   div.identicon(title=val.hash)
                                td.collapsing
                                   div.blockheight=val.blockheight
                                td
                                    a(href='/block/'+val.hash)=val.hash
                                if (val.tx == 1)
                                    td
                                        div.ui.basic.label(style="margin-right: 5")= val.tx + ' Transaction'
                                else if(val.tx !== 1)
                                    td
                                        div.ui.basic.label(style="margin-right: 5")= val.tx + ' Transactions'

                                td.right.aligned.collapsing= val.timestamp
            h3 Ether Faucet
            p Enter your Ethereum address here to receive 500 ETH from the faucet
            p Requests are limited to 500 ETH per Day
            .faucet
                .ui.action.input
                    input(type='text', placeholder='Address', style='width:400px', id='faucet_input')
                    button.ui.button(id='faucet') Request


block foot
    .wrapper.bottombar
        .padder
            h4.ui.header The coinbase of this chain is #{coinbase}
