extends layout.pug
block header
    title Address #{coinbase}
block content
    .wrapper
        .main-content
            .blocks
                table.ui.celled.striped.table
                    thead
                        tr
                            th(colspan='3')
                                p Latest Blocks
                    tbody
                        each val in blocks
                            tr
                                td.collapsing
                                   p=val.blockheight
                                td= val.hash + ' (Number of TX: ' + val.tx + ')'
                                td.right.aligned.collapsing= val.timestamp

block foot
    .wrapper.bottombar
        .padder
            h4.ui.header The coinbase of this chain is #{coinbase}
