extends layout.pug
block header
    title Tx #{tx.hash}
block content
    script
        include scripts/identicon.js
    .wrapper
        .main-content
            h2.ui.center.aligned.icon.header
                i.exchange.icon
                |   Transaction for #{tx.value / 1000000000000000000} ETH
            table.ui.celled.striped.table
                thead
                    tr
                        th(colspan='3')
                            .wrapper.aligned(style="padding: 10px 0px")
                                h3(style="margin-left: 10px") Transaction: #{tx.hash}
                tbody
                    tr
                        td
                            div(class="ellipsis") #{tx.value / 1000000000000000000} ETH
                        td.wrapper
                            a(href='/address/' + tx.from) #{tx.from}
                            i(style="margin: 0px 10px; position: relative; top: -2px").large.fa-arrow-right.icon.green
                            a(href='/address/' + tx.to) #{tx.to}
            table.ui.celled.striped.table
                thead
                    tr
                        th(colspan='3')
                            .wrapper.aligned(style="padding: 10px 0px")
                                div(style="margin-left: 10px")
                                    .wrapper.aligned(style="padding: 10px 0px")
                                        div.identicon(title=tx.blockHash)
                                        div(style="margin-left: 10px")
                                            a(href="/block/" + tx.blockHash) Block: #{tx.blockHash}

            table.ui.celled.striped.table
                thead
                    tr
                        th(colspan='3')
                            .wrapper.aligned(style="padding: 10px 0px")
                                div(style="margin-left: 10px") Transaction Properties
                tbody
                each val, index in tx
                    tr
                        td
                            p #{index}

                        td(colspan='2' style='max-width: 350px')
                            if(index == 'from' || index == 'to')
                                a(href='/address/' +val) #{val}
                            else
                                p.ellipsis #{val}







block foot
    .wrapper.bottombar
        .padder

